{% load static %}
<div class="mt-5 float-left">
    <div class="div-highlights">
        <section class = "h1 font-weight-bold">
            <p>Encontre o seu primeiro <span class="blue">Emprego</span> na área de <span class="blue">TI</span></p>
        </section>
        <section>
            <p class="text-black-50">Vagas de emprego pré-selecionadas para quem está começando na carreira de tecnologia
                da informação.
                <a class="orange" href="">Saiba mais...</a>
            </p>
        </section>
        <form class="clearfix mt-5" action="">
                <div class="input-group">
    <input class="form-control form-control-lg  border-dark fsize-sm" type="text" id="busca" placeholder="Busque por um título de vaga...">
                    <div class="input-group-append">
                        <button type="button" class="btn color-button text-white font-weight-bold">Buscar</button>
                    </div>
                </div>
        </form> 
    </div>
</div>
<div class="div-img float-right">
    <section>
        <img src="{% static 'job/img/junior.png'%}" alt="">
    </section>
</div>
