{% load job_tags %}
<h3 class="text-center mt-5">Áreas</h3>

<div class="container">
    <div class="row">
        {% for area in areas %}
        <div class="col">
            <a href="?area={{area.code}}">
                <div class="d-flex justify-content-center p-2">
                    {{area.code | area_icon:chosen_area}}
                </div>
                <div class="d-flex justify-content-center p-2">
                    {%if chosen_area == area.code%}
                    {{area.name | ExampleCustom_filter:"dogerblue"}}
                    {%else%}
                    {{area.name | ExampleCustom_filter:"gray"}}
                    {%endif%}
                </div>
            </a> 
        </div>
        {% endfor %}
    </div>
</div>


