{% load static %}

<div class="div-highlights">
    <section class = "h1 font-weight-bold">
        <p>Encontre o seu primeiro <span class="blue">Emprego</span> na área de <span class="blue">TI</span></p>
    </section>
    <section>
        <p class="text-black-50">Vagas de emprego pré-selecionadas para quem está começando na carreira de tecnologia
            da informação.
            <a class="orange" href="">Saiba mais...</a>
        </p>
    </section>
    <form class="clearfix mt-5" action="">
        <div class="input-group div-search">
            <input class="form-control form-control-lg  border-dark fsize-sm" type="text" name="search" placeholder="Busque por um título de vaga...">
            <div class="input-group-append">
                <input type="button" value="Buscar" class="btn color-button text-white font-weight-bold">
            </div>
        </div>
    </form> 
</div>