{% load static %}
{% load job_tags %}
<div class="container mb-5">
    <h2 class="font-weight-bold text-center p-4">Vagas mais recentes</h2>
    {% if not jobs %}
    <div class="alert alert-info" role="alert">
        Nenhuma vaga encontrada.
    </div>
    {% endif %}
    <div id="progressJobList" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
    </div>
    <ul id="jobList" class="list-group mb-4"></ul>
    <div class="d-flex justify-content-center">
        <button id="loadMoreBtn" class="btn btn-secondary" onclick="loadMoreJobs()">Ver mais vagas...</button>
    </div>
</div>
