# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
.xdp_db.*
media
CACHE
/static/

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# pyenv 
.python-version 

# Environments 
venv/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# GCloud
.env
