{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas Para Júnior</title>

    <link rel="icon" href="/static/job/img/favicon.ico" type="image/x-icon">


    {% compress css %}
    <link type="text/x-scss" href="{% static 'css/theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    {% include './layout/header.html' %}
   
    <main class="container">
        <div class="mb-4 card">
            <div class="card-body">
                <h3 class="card-title">Critérios para envio de novas vagas</h3>
                <p>O site "Vagas para Júnior" aceita apenas vagas para área de Tecnologia da Informação que atendam os seguintes critérios:</p>
                <ul>
                    <li>Deve ser exclusiva para nível Júnior ou Entry level;</li>
                    <li>Deve ser CLT (Não aceitamos temporário, contrato, freelancer, estágio e jovem aprendiz);</li>
                    <li>Não deve exigir mais do que um ano de experiência;</li>
                    <li>Não deve exigir mais do que um conhecimento técnico do mesmo tipo. Exemplo, mais do que uma linguagem de programação, mais do que uma plataforma de nuvem, mais do que um framework, plataforma ou certificação;</li>
                    <li>O link da vaga preferencialmente deve ser de plataformas de vagas como: LinkedIn, Google Jobs, Catho, Indeed, Hipster.jobs, etc.</li>
                </ul>
            </div>
        </div>
        
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScPvGMzr0Jnd_3GIJW8AEydij9DKSFCrRxyM1fjgZggAyrACA/viewform?embedded=true" width="100%" height="2415" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    </main>

    {% include './layout/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
