body {
    padding-top: 100px;
}

.bg-gray {
    background-color: #E3E3E3;
}

a.icon-link:hover {
    text-decoration: none;
}

a.icon-link:hover .icon {
    background-color: #0086FF;
}

.icon {
    display: inline-block;
    font-size: 1.5em; 
    height: 64px;
    width: 64px;
    text-align: center;
    padding-top: 13px;
    background-color: #212529;
}

.highlights-image {
    background: url('/static/job/img/junior.png') no-repeat;
    background-size: contain;
    background-position: bottom;
}
