$primary: #FF3800;
$secondary: #0086FF;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import '../bootstrap/scss/bootstrap';
