.blue {
    color: #0086FF;
}

.orange {
    color: #EF4E17;
}

.white {
    color: #FFFFFF;
}

.bgblue {
    background-color: #0086FF;
}

.bgwhite {
    background-color: #FFFFFF;
}

.bg-gray {
    background-color: #E3E3E3;
}

.bgjobs {
    background-color: #EFEFF0;
}

.color-button {
    background-color: #FF3800;
}

.div-img {
    margin-top: -100px;
    margin-right: 60px;
}

.div-jobs {
    margin-bottom: 150px;
}

.fsize-smaller {
    font-size: 0.7em;
}

.fsize-sm {
    font-size: 0.8em;
    opacity: 50%;
}

.icon {
    display: inline-block;
    font-size: 1.5em; 
    height: 64px;
    width: 64px;
    text-align: center;
    padding-top: 13px;
}

.highlights-image {
    background: url('/static/job/img/junior.png') no-repeat;
    background-size: contain;
    background-position: bottom;
}

body {
    font-family: 'Poppins', sans-serif;
}