.blue {
    color:#0086FF;
}

.orange {
    color: #EF4E17;
}

.white {
    color:#FFFFFF;
}



.bgblue {
    background:#0086FF;
}

.bgwhite {
    background-color: #FFFFFF;
}

.bgjobs {
    background-color: #EFEFF0;
}

.color-button {
    background-color: #FF3800;
}

.div-img {
    margin-top:-100px;
    margin-right:60px;
}

.div-highlights {
    background-image: url('/static/job/img/junior.png');
    background-position: right top -100px;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 85px;
}

.div-jobs {
   margin-right: 50px;
   margin-bottom: 150px;
}

.fsize-smaller {
    font-size: 0.7em;
}

.fsize-sm {
    font-size: 0.8em;
    opacity: 50%;
}

.div-search {
    width: 700px;
}

.icon {
    display: inline-block;
    font-size: 1.5em; 
    height: 64px;
    width: 64px;
    text-align: center;
    padding-top: 13px;
}

body {
    font-family: 'Poppins', sans-serif;
}
