.blue {
    color: #0086FF;
}

.orange {
    color: #EF4E17;
}

.white {
    color: #FFFFFF;
}

.bgblue {
    background: #0086FF;
}

.bgwhite {
    background-color: #FFFFFF;
}

.bgjobs {
    background-color: #EFEFF0;
}

.color-button {
    background-color: #FF3800;
}

.div-img {
    margin-top: -100px;
    margin-right: 60px;
}

.div-jobs {
    margin-right: 50px;
    margin-bottom: 150px;
}

.fsize-smaller {
    font-size: 0.7em;
}

.fsize-sm {
    font-size: 0.8em;
    opacity: 50%;
}

.icon {
    font-size: 1.5em;
    height: 64px;
    width: 64px;
    text-align: center;
}

.iconsize {
    font-size: 1.5em;
}

.img-highlights {
    object-fit: cover;
    margin-top: 0px;
    width: 100%;
    object-position: -100px -80px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .img-highlights {
        object-position: -50px 0px;
        min-height: 300px;
    }

   .display-area {
        max-width:140px;
        margin: 20px;
    }

    .bg-area {
        background-color: #E5F3FF;
    }

    .text-size {
        font-size: 30px;
    }

    .form1 {
        display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-highlights {
        max-height: 320px;
        object-position: -60px -30px;
    }

    .display-area {
        max-width:200px;
    }

    .bg-area {
        background-color: #E5F3FF;
    }

    .text-size {
        font-size: 30px;
    }

    .form1 {
        display: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-highlights {
        max-height: 450px;
        object-position: -10px -50px;
    }

    .display-area {
        max-width:120px;
    }

    .form2 {
        display: none;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .img-highlights {
        max-height: 500px;
    }

    .form2 {
        display: none;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .img-highlights {
        max-height: 700px;
    }

    .form2 {
        display: none;
    }
}