<footer class="container bg-dark text-white px-3 pt-4 pb-3">
    <nav>
        <div class="row">
            <div class="col">
                <p class="mb-4">
                    Essa aplicação foi desenvolvida por <span class="font-weight-bold">Júniors</span> no projeto
                    de Mentoria realizado pela <span class="font-weight-bold">SaibroTech.</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <dl>
                    <dt class="mb-2">Sobre a SaibroTech</dt>
                    <dd>
                        <a href="#" class="text-white">Desenvolvimento de soluções</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Mentoria para transição de carreira para TI</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Contrate nossos Júniors</a>
                    </dd>
                </dl>
            </div>
            <div class="col-12 col-md-6">
                <dl>
                    <dt class="mb-2">Sobre o site Vagas para Júnior</dt>
                    <dd>
                        <a href="#" class="text-white">Como selecionamos as vagas</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Suporte a vagas cadastradas</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Anuncie conosco</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class=" col divider mt-4 mb-2 mx-3 pb-1 bg-white"></div>
        </div>
        <div class="row">
            <div class="col">
                <small>&copy;2022-2022 SaibroTech. Todos os Direitos Reservados</small>
            </div>
            <div class="col-1 px-5 text-right">
                <a href="https://www.linkedin.com/company/saibrotech/">
                    <i class="bi bi-linkedin h2 text-white"></i>
                </a>
            </div>
        </div>
    </nav>
</footer>

<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/77babb72-ba3c-4a5c-9155-642c659bd8da-loader.js" ></script>
