<footer class="container bg-dark text-white px-3 pt-4 pb-3">
    <nav>
        <div>
            <p class="mb-4">
                Essa aplicação foi desenvolvida por <span class="font-weight-bold">Júniors</span> no projeto
                de Mentoria realizado pela <span class="font-weight-bold">SaibroTech.</span>
            </p>
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <dl class="mr-5">
                    <dt class="mb-2">Sobre a SaibroTech</dt>
                    <dd>
                        <a href="#" class="text-white">Desenvolvimento de soluções</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Mentoria para transição de carreira para TI</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Contrate nossos Júniors</a>
                    </dd>
                </dl>
                <dl class="mr-5 pr-5">
                    <dt class="mb-2">Sobre o site Vagas para Júnior</dt>
                    <dd>
                        <a href="#" class="text-white">Como selecionamos as vagas</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Suporte a vagas cadastradas</a>
                    </dd>
                    <dd>
                        <a href="#" class="text-white">Anuncie conosco</a>
                    </dd>
                </dl>
            </div>
            <div class="divider mt-4 pb-1 bg-white"></div>
            <div class="d-flex flex-fill mt-3 justify-content-between">
                <small>&copy;2022-2022 SaibroTech. Todos os Direitos Reservados</small>
                <div class="pl-2">
                    <a href="https://www.linkedin.com/company/saibrotech/">
                        <i class="bi bi-linkedin h2 text-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>
