{% load static %}
<header class="fixed-top">
    <nav class="navbar navbar-expand-sm bgwhite shadow-sm">
      <div> 
        <a href="" class="navbar-brand blue font-weight-bold">
            <img src="{% static 'job/img/logo.png'%}" alt="logo">
            Vagas Para Júnior</a>
      </div>

        <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="https://forms.gle/B8a15GR8m5KZoSHP7" class="nav-link">
                    <button class="btn btn-primary rounded">Enviar vaga</button>
                </a>
            </li>
        </ul>
    </nav>
</header>
