{% load static %}
<header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between shadow-sm">
        <div class="navbar-brand">
            <a href="/job/" class="text-secondary font-weight-bold">
                <img src="{% static 'job/img/logo.png'%}" alt="logo">
                Vagas Para Júnior</a>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navheader">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navheader">
            <ul class="navbar-nav">
                <li class="navbar-item ml-auto">
                    <a href="https://forms.gle/B8a15GR8m5KZoSHP7" class="nav-link">
                        <button class="btn btn-secondary rounded">Enviar vaga</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
