{% load static %}

<div class="div-highlights">
    <section class = "h1 font-weight-bold">
        <p>Encontre o seu primeiro <span class="blue">Emprego</span> na área de <span class="blue">TI</span></p>
    </section>
    <section>
        <p class="text-black-50">Vagas de emprego pré-selecionadas para quem está começando na carreira de tecnologia
            da informação.
            <a class="orange" href="">Saiba mais...</a>
        </p>
    </section>
    <form class="clearfix mt-5" action="">
        <div class="btn btn-toolbar">
            <div class="btn btn-group">
                <input class="form-control-lg" type="text" id="busca" placeholder="Busque por um título de vaga...">
                <button class="btn btn-group">
                    <label for="busca">Buscar</label>
                </button>
            </div>
        </div>
    </form> 
</div>